@model Ef_codefirst_app.Models.JobList

@{
    ViewBag.Title = "AddJob";
}

<h2>Add New Job</h2>


@using (Html.BeginForm("AddJob", "JobList", FormMethod.Post))
{
    @Html.ValidationSummary(true);
<div class="form-group">
    @Html.LabelFor(model => model.JobRole)
    @Html.EditorFor(model => model.JobRole, new { @class = "form-control" })
    <input type="email" class="form-control" placeholder="Enter email">
</div>
    <div class="editor-label">
        @Html.LabelFor(model => model.JobRole)
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.JobRole, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.JobRole)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CompanyName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CompanyName)
        @Html.ValidationMessageFor(model => model.CompanyName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Skill)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Skill)
        @Html.ValidationMessageFor(model => model.Skill)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Timestamp)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Timestamp)
        @Html.ValidationMessageFor(model => model.Timestamp)
    </div>
    <p class="btn-block p-button">
        <button type="submit" class="btn btn-primary">Save details</button>
    </p>

}
@if (ViewBag.Message != null)
{
    <span style="color: Green">
        @ViewBag.Message
    </span>
}
